

/* global settings */

* {
    margin: 0;
}

body {
    background-color: #1e2124;
}

.background {
    background-image: url(/IMG/landingpage/EFFN8TQW4AEOHjH.gif);
    background-repeat: no-repeat;
    padding-bottom: 20vh;
    background-size:cover;
}

/* button style and hover */

.bn1 {
    display: inline-block;
    padding: 0.6em 1.7em;
    border: 0.1em solid #cab2fb;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    transition: all 0.2s;
  }
  
  .bn1:hover {
    color: white;
    background-color: #cab2fb;
  }


/* navbar flexboxes and styling */

.header {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
/*     background-color: #1e2124; */
}

.coaches {
    margin: 0 50px;
}

.navcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
}

.logocontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logocontainer img {
    height: 75px;
}

.logocontainer p {
    margin: 0;
}

.linkcontainer {
    display: flex;
    flex-direction: row;
}

.linkcontainer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    margin: 0;
}

.linkcontainer ul li {
    text-decoration: none;
    list-style: none;
}

.linkcontainer ul li a {
    text-decoration: none;
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

.logincontainer {
    display: flex;
    flex-direction: row;
    width: 15VW;
}

.logincontainer a {
    text-decoration: none;
    margin: 0 20px;
    width: 15VW;
}

/* navbar link animations */

  .float-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .float-on-hover:hover,
  .float-on-hover:focus,
  .float-on-hover:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

/* Landing page hero section */

.herocontainer {
    display: flex;
    flex-direction: row;
    padding: 0 20%;
    background-color: rgb(0 0 0 / 70%);
    margin-top: 10vh;
}

.heroimg {
    width: 50vw;
}

.heroh1 {
    margin: 20px 20px;
}

.heroh1 h1,H2,P { 
    color: white;
}

.heroh1 button {
}

.heroh1 h1 {
    text-decoration: none;
    color: white;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
    color: #cab2fb;
}

.heroh1 h2 {
    font-size: 2em;
}

.heroh1 H2, p {
    font-family: "Baloo Chettan 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* responsive media queries */

