footer{
    display: flex;
    flex-direction: column;
}

#item_1{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

#item_2{
    display: flex;
    justify-content: center;
}

.flex-item ul{
    list-style-type: none;
    padding: 0;
}

.flex-item ul li {
    padding: 5px;
}

.flex-item h3{
    text-transform: uppercase;
}

a{
    text-decoration: none;
}

.flex-item ul li svg{
    margin: 0;
}