:root{
    --texte: #f1f1f1;
    --background: #1e2124;
}

body{
    background: var(--background);
    font-family: "Baloo Chettan 2", sans-serif;
    color: var(--texte);
}

.gallery{
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 10px;
    display: grid;
    grid-template-columns: 300px 800px;
    justify-content: center;
    grid-auto-rows: 300px;
    gap:40px;
    list-style-type: none;
}

.profile-card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999;
    transition: all 0.3s ease-out;
}

h4{
    font-size: 1.5em;
    padding: 0;
    margin: 0;
}

h5{
    margin: 0;
    font-size: 1em;
    font-style: italic;
}

.profile-detail{
    border: 1px solid blue;
}

.profile-detail p{
    text-align: justify;
}

.profile-detail img{
    max-width: 100px;
    border: 1px solid red;
    object-position: left bottom;
}

.name{
    color: var(--texte);
    text-transform: uppercase;
    font-size: 20px;
    padding: 0 10px;
    background-color: #333333cf;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    border-radius: 5px;
}

.profile-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-social{
    position: absolute;
    top: 25%;
    height: 100%;
    list-style-type: none;
    padding: 0;
}

.side-social a:nth-child(1),
.side-social a:nth-child(2){
    width: 50px;
    height: 50px;
    display: flex;
    margin: 5px 10px;
    transform: translateX(calc(-100% - 5px));
    transition: all 0.1s ease-in-out;
}

.side-social a img{
    width: 80%;
}

/* .profile-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    border-top: 2px solid #fff;
    text-align: center;
    transform: translateY(100%);
    transition: all 0.1s ease-in-out;
    font-weight: 700;
} */

.profile-card:hover .profile-info, .profile-card:hover .side-social a{
    transform: translate(0);
}

.profile-card:hover .side-social a:nth-child(1){
    transition-delay: 0.1s;
}
.profile-card:hover .side-social a:nth-child(2){
    transition-delay: 0.2s;
}

.profile-card:hover{
    transform: scale(0.95);
    box-shadow: 0 0 0 3px var(--texte);
}

@media (pointer: coarse) {
    .profile-card:hover{
        transform: none;
        box-shadow: none;
    }

    .profile-info, .side-social a{
        transform: translate(0);
    }
}
